.memestext{
    position: 'absolute',
              top: '10%',
              left: 0,
              right: 0,
              textAlign: 'center',
              fontFamily: 'Impact, sans-serif',
              color: 'white',
              textShadow: '2px 2px 4px black',
}